.calendar-app{
    width: 60%;
    min-width: 90vmin;
    aspect-ratio: 3/2;

    background-color: #1e242d;
    border-radius: 3rem;
    padding: 3rem;
    border: 1rem solid #0f1319;
    display: flex;
column-gap: 5rem;
position: relative;
transform-style: preserve-3d ;
/* overflow: hidden; */
}
.calendar-app::after{
    content: '';
    position: absolute;
    bottom:-12rem;
    left: 50%;
    transform: translate(-50%) rotateX(30deg);
    width: 90%;
    height: 16rem;
    background-color:rgba(0,0,0,0.5);
    border-radius: 2rem;
    filter: blur(4rem);
}
.calendar{
    width: 40%;
}
.heading{
    font-family:"Bebas Neue", sans-serif;
    font-size: 4rem;
    color: #fff;
    letter-spacing: 0.3rem;
    padding-left: 1.2rem;
}
.navigate-date{
    display: flex;
   
    align-items: center;
    column-gap: 1rem;
    margin: 3.5rem 0;
}
.navigate-date h2{
  padding-left: 1.2rem;
    font-size:1.5rem ;
    color: #bbb;
   
}
.buttons{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.buttons i{
    width: 3.5rem;
    margin: 0 0.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #2c3542;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color:#c97f1a;
    cursor: pointer;
   
}
.weekdays{
width: 100%;
display: flex;
margin: 3rem 0;
}
.weekdays span{
   width: calc(100% / 7);
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #78879e;
    letter-spacing: 0.1rem;
    display: flex;
    justify-content: center;
}
.days{
    display: flex;
    flex-wrap: wrap;
   
}
.days span{
    font-size: 1rem;
    width: calc(100% / 7);
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd;
    cursor: pointer;
    text-shadow: 0 .5rem 1rem rgba(0,0,0,0.2) ;
}
.current-day{
    background-color: #ef9011;
    color: #fff;
    box-shadow: 0 0 1.5rem 1rem rgba(239,144,17,0.3);
    border-radius: 50%;
}
.events{
    width: 60%;
    height: 100%;
   overflow-y: auto;
    padding: 3rem 0;
  
}
.events::-webkit-scrollbar, .description::-webkit-scrollbar{
    display: none;
}
.event-popup{
    position: absolute;
    top: 43%;
    left: 2rem;
    background-color: #161b22;
    width: 25rem ;
    aspect-ratio: 12/9;
    border-radius: 1rem;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.6rem;
    padding: 2rem 0;
    
}
.time-input{
    display: flex;
    column-gap: 1rem;
}
.event-popup-time{
    width: 4rem ;
    background-color: #00a3ff;
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1.5rem 1rem rgba(0,163,255,0.2);
    letter-spacing: 0.1rem;
}.sunday {
  background-color: #ffeaea; /* Light red/pink */
  color: #d10000;
  font-weight: bold;
}

.saturday {
  background-color: #e6f4ff; /* Light blue */
  color: #0074cc;
  font-weight: bold;
}


.time-input input{
   background-color: transparent;
   border: none;
   border-top: 0.2rem solid #00a3ff;
   border-bottom: 0.2rem solid #00a3ff;
   color: #fff;
   width: 4rem;
   height: 2rem;
   text-align: center;
   font-size: 1.6rem;
}
.time-input input[type="number"]::-webkit-outer-spin-button,
.time-input input[type="number"]::-webkit-inner-spin-button {
    appearance: none;   
}
 .event-title-input{
    width: 15rem;
    
    background-color: #0f1319;
    color: #78879e;
    border: none;
    
     padding: .5rem;
     border-radius:.5rem  ;

}
.event-title-input:focus{
    border: 0.1rem solid #00a3ff;
}
.event-popup textarea{
    width: 15rem;
    aspect-ratio: 5/2;
      resize: none;
    height: 7rem;
    background-color: #0f1319;
    color: #78879e;
    border: none;
     padding: .5rem;
     border-radius:.5rem  ;
   
  
}
.event-popup textarea:focus, .event-title-input:focus{
    border: 0.1rem solid #00a3ff;
}
.event-popup textarea::placeholder,.event-title-input::placeholder {
    font-size: 1rem;
    color: #78879e;
}.event-popup textarea:focus::placeholder{
    color:transparent;
}
.event-popup-btn{
    width:15rem;
    height: 4rem;
    background-color: #ef9011;
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5rem;
   letter-spacing: .1rem;
   border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 1.5rem 1rem rgba(239,144,17,0.2);
}
.event-popup-btn:active{
    transform: translateY(0.1rem);
}
.close-event-popup{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background-color: transparent;
   
    cursor: pointer;
    border: none;
}
.close-event-popup i{
    font-size: 2rem;
    color: #fff;
    
}
.event{
    width: 100%;
    height: 7rem;
    background-color: #00a3ff;
    padding: 1.5rem 0;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.9rem;
    position: relative;

}
.event-date-wrapper{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 0.1rem solid rgba(255,255,255,0.5);
}
.event-date{
    font-size:1rem;
    color: #ddd;
  
}
.event-time{
    font-size: 1.3rem;
    line-height:4rem;
    font-weight: bold;
    color: #fff;
   
}
.event-text{
    font-size: 1.2rem;
    line-height: 2rem;

    color: #fff;
    padding: 0 3rem 0 1rem;       
    width: 75%;
    overflow-wrap: break-word;
}
.event-buttons{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.event-buttons i{
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}
.modal-content , .event-para{
    color: #fff;
    padding: 5px;
}
.modal-backdrop{
    position: relative;
}
.no-event{
     padding: 0 10px;
     font-size: medium ;

}
.button{
     position: absolute;
    top: 0rem;
    right: 1rem;

    cursor: pointer;
    border: none;
    color: #fff;
    font-size: medium;
    font-weight: bolder ;
}
@media(max-width:850px){
    .calendar-app{
        flex-direction: column;
        row-gap: 2rem;
        aspect-ratio: 3/2;
    }
    .calendar{
        width: 70%;
        margin: auto;
    }
    .navigate-date{
        margin: 1rem 0;
    }
    .weekdays{
        margin: 1rem 0;
    }
    .events{
        width: 80%;
        margin: auto;
    }
    .event-popup{
        top:18%;

        left:50%;
        transform: translateX(-50%);
        width: 65%;
    aspect-ratio: 5/4;
        row-gap: 1rem;

    }
    .event-popup-time{
        width: 5rem;
        font-size: 1.5rem;
    }
    .time-input input{
        width: 5rem;
        font-size: 1.2rem;

    }
    .event-popup textarea{
        width: 18rem;
       
    }
    .event-popup textarea::placeholder{
        font-size:1rem;
       
    }
    .event-popup-btn{
         width:18rem;
        font-size: 1.5rem;

    }
    .event-date{
  font-size: 1rem;
    }
    .event-time{
  font-size: 1rem;
    }
    .event-text{
  font-size: 1rem;
    }
}
@media(max-width:500px) {
    .calendar{
        aspect-ratio:10/9 ;
    }
    .calendar{
        width: 100%;
    }
    .event-popup{
        top:25%;
        width:80%;
    }
.events{
    width: 100%;
}
}
@media (max-width:375px) {
    .calendar-app{
        aspect-ratio: 3/2;
    }
    .event-popup{
                aspect-ratio: 3 / 3;
    }
}